<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Bc Remates</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>bc_remates</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1010287627328-354a680fdac534e3eda3a5</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Para oferecer a melhor experiência musical, nosso aplicativo solicita acesso à sua biblioteca de músicas da Apple Music. Essa permissão é essencial para que você possa reproduzir suas músicas favoritas diretamente no aplicativo, garantindo uma experiência sonora envolvente e personalizada. Suas informações são tratadas com segurança e privacidade.</string>
	<key>NSCameraUsageDescription</key>
	<string>Seu aplicativo precisa acessar a câmera para tirar fotos e fazer upload na foto de perfil.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Permita o acesso à sua localização para receber os melhores anúncios em sua região.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permita o acesso à sua localização para receber as melhores promoções em sua região.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>acesso ao microfone para gravar áudios.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Seu aplicativo precisa acessar a galeria para selecionar imagens e fazer upload  na foto de perfil.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Seu aplicativo precisa acessar a galeria para selecionar imagens e fazer upload  na foto de perfil.</string>
	<key>NSUserNotificationCenterUsageDescription</key>
	<string>Receber notificações é essencial para mantê-lo atualizado sobre novas mensagens e eventos no aplicativo.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
